name: Build Binaries

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: false
        default: ''
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build ${{ matrix.platform }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu22-4cpu-amd64
            platform: linux-amd64
          - runner: ubuntu22-4cpu-arm64
            platform: linux-arm64
          - runner: macos-latest
            platform: macos-arm64
          - runner: windows-latest
            platform: windows
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.6'

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: latest
          enable-cache: true

      - name: Install dependencies
        shell: bash
        run: uv sync

      - name: Build binary
        shell: bash
        run: |
          uv run pyinstaller lumos/__main__.py
          if [[ "${{ matrix.platform }}" == "windows" ]]; then
            mv ./dist/__main__/__main__.exe ./dist/__main__/lumos.exe
          else
            mv ./dist/__main__/__main__ ./dist/__main__/lumos
          fi
          VERSION="${{ inputs.version || 'dev' }}"
          tar -czf lumos-${{ matrix.platform }}-${VERSION}.tar.gz -C ./dist/__main__ .

      - name: Upload artifacts to workflow
        uses: actions/upload-artifact@v4
        with:
          name: lumos-${{ matrix.platform }}-${{ inputs.version || 'dev' }}
          path: lumos-${{ matrix.platform }}-${{ inputs.version || 'dev' }}.tar.gz
          retention-days: 90